* {
  padding: 0;
  margin: 0;
}

.heading {
  color: rgb(15, 72, 110);
  text-shadow: 1px 1px #38393a;
  animation: wobble 5s ease-in-out 1 forwards;
  opacity: 0;
}

.special {
  color: rgb(1, 35, 58);
}

.wave_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #3586ff;
  overflow: hidden;
  z-index: -1;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('../../assets/wave2.png');
  background-size: 1000px 100px;
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .wave.wave3 {
  animation: animate2 15s linear infinite;
  z-index: 998;
  opacity: 0.7;
  animation-delay: -2s;
  bottom: 15px;
}

section .wave.wave3 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

.submarine {
  position: absolute;
  content: url('../../assets/Submarine.png');
  height: 100px;
  animation: submarine 5s ease-in-out 1 forwards;
  animation-delay: 5s;
  bottom: 0px;
  left: 75px;
}
.cloud_container {
  overflow: hidden;
}
.cloud {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 100px;
  z-index: 100;
  content: url('../../assets/cloud.png');
  animation: cloud 360s linear infinite;
  animation-direction: alternate;
}

div.cloud.cloud1 {
  opacity: 0.7;
  z-index: 99;
  left: 150px;
}

div.cloud.cloud2 {
  opacity: 0.9;
  left: 400px;
}
div.cloud.cloud3 {
  opacity: 0.3;
  left: 600px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes submarine {
  0% {
    bottom: 0px;
    transform: rotate(-30deg);
  }

  100% {
    bottom: 50px;
    transform: rotate(0deg);
  }
}

@keyframes cloud {
  0% {
  }
  100% {
    left: 400px;
    opacity: 0;
  }
}

/* https://www.tutorialspoint.com/css/css_animation_wobble.htm */
@keyframes wobble {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
